# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json

# Rider
.idea/

# Test results
TestResults/
*.trx
*.coverage

# Publish
publish/
*.pubxml

# OS
.DS_Store
Thumbs.db
